@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #6366f1;
    --background: #f8fafc;
}

body {
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}